# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/
https://www.npmjs.com/package/create-jaseci-app


# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# Allow .env.example
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts